<template name="mri">
    <div id="modalities" class="row bump-top">
        <div class="card-content">
            <div class="square-container">
                <div class="square tall-2 process" onclick="nav('http://ocp.me/graph-services/c4/')">
                    <div class="square-mask valign-wrapper">
                        <div class="square-mask-content valign">
                            <div class="roboto white-text title">Make My Connectome</div>
                            <div class="fading-content">OCP is free to use. Click here to begin uploading structural and diffusion MR images.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="square-container">
                <div class="square support" onclick="nav('http://m2g.io')">
                    <div class="square-mask valign-wrapper">
                        <div class="square-mask-content valign">
                            <div class="roboto white-text title">Software</div>
                            <div class="fading-content">Learn about and download the m2g software.</div>
                        </div>
                    </div>
                </div>
                <div class="square graphs" onclick="nav('http://ocp.me/graph-services/download/')">
                    <div class="square-mask valign-wrapper">
                        <div class="square-mask-content valign">
                            <div class="roboto white-text title">Graphs</div>
                            <div class="fading-content">Download graphs and other graph Web services.</div>
                        </div>
                    </div>
                </div>
                <div class="square viz" onclick="nav('http://openconnecto.me/data/public/MR/')">
                    <div class="square-mask valign-wrapper">
                        <div class="square-mask-content valign">
                            <div class="roboto white-text title">Raw Data</div>
                            <div class="fading-content">Download the raw data behind our graphs.</div>
                        </div>
                    </div>
                </div>
                <div class="square contr">
                    <div class="square-mask valign-wrapper">
                        <div class="square-mask-content valign">
                            <div class="roboto white-text title">Support</div>
                            <div class="fading-content">Our interactive help section is coming soon &mdash; in the meantime, reach out to us at <a class="fading-content" href="mailto:contact@openconnecto.me">contact@openconnecto.me</a>.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    nav = function(uri) {
        document.location = uri;
    }
    </script>
</template>
