<template name="hiring"> {{ title 'Hiring' }}
    <div class="container">
        <h1>neurodata is hiring.</h1>
        <br>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Post-Doc Positions</div>
                    <div class="panel-body">
                        <p>
                            Neurodata invites outstanding candidates to apply for a postdoctoral or assistant research scientist position in the area of statistical machine learning for big brain imaging data. Our workflow is tightly vertically integrated, ranging from raw data analysis to statistical theory to answering neuroscience questions and back again. Along the way, we develop new scalable methods (ideally with provable properties), and we apply previously developed methods in novel contexts. All of our projects include machine learning and big statistics, and integrate computer vision, systems engineering, numerical algorithms, and parallel computing. In short, we use/develop whatever technologies are necessary to answer today's most important, open, and long-standing questions in neuroscience. To apply, please send <a href="mailto:jovo@jhu.edu">jovo@jhu.edu</a> an email including: (i) a curriculum vita, and (ii) the names and email addresses of three references.
                        </p>
                        <p>
                            More information is available <a href="https://github.com/openconnectome/neurodata.io/files/7260/postdoc.pdf">here</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
