<template name="hiring"> {{ title 'Hiring' }}
    <div class="container">
        <h1>neurodata is hiring.</h1>
        <br>
        <br>
        <div class="row">
            <div class="col-xs-12">

                <div class="panel panel-default">
                    <div class="panel-heading">For all potential applicants</div>
                    <div class="panel-body">
                        <div class="text-left">
                        <p>NeuroData is always hiring exceptional individuals at all levels.  There are only a few requirements: (1) you are excited to work closely with a team of diverse thinkers, including computer scientists, biomedical engineers, and neuroscientists,  (2) you are will to commit at least 2-3 years to the project, and (3) you understand that we do open science - this means that all code that we write is open sourced and therefore run by other people (one implication of this is that our code is always tested and documented). 

                        Assuming you fit those conditions, please read the below specialized instructions, and send us an <a href="mailto:jovo@jhu.edu">email</a> with your CV, your github handle, and other information as specified below.</p>
                        </div>
                    </div>
                </div>
            

                <div class="panel panel-default">
                    <div class="panel-heading">Research Associate</div>
                    <div class="panel-body">
                        <p>If you have an undergraduate degree in a related field, eg, biomedical engineering, neuroscience, or computer science, and want to work with our group, please send your cv, transcript, and recommendations if you have them. Also, explain why you want to be a research associate, rather than going to graduate school. </p>
                     </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Undergrad Research</div>
                    <div class="panel-body">
                        <p>There is always more work for undergrad research in our group :-) To make a useful contribution, you'll need to commit a minimum of 10 hrs per week, and must be open to working together for years.  The research will be for 3 credits per semester, so you will need to make sure you can take 3 additional credits. It is very likely that your research will include writing code, in either R or Python, processing data, paralllel/distributed computing, possibly proving some theorems, all in the service of answering some neuroscience questions using big data.   If this sounds awesome, please send me an email, including your CV/resume, as well as your complete official JHU transcript.  If you have any letters of recommendation, please send them as well.</p>
                     </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Potential Graduate Students</div>
                    <div class="panel-body">
                        <p>My group will always take exceptional PhD students, and potentially master's students as well. If you would like to do graduate research with me, the best option is to apply to the BME Department at JHU, and indicate on the application that you want to work with me.  I can also officially advise students in Neuroscience, Computer Science, Biostatistics, and Applied Mathematics & Statistics.  There is no need to email me, you can simply apply, I will find your application, I promise :)</p>
                     </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Current JHU Graduate Students</div>
                    <div class="panel-body">
                        <p>My group will always take exceptional PhD students, and potentially master's students as well. If you would like to do graduate research with me, and you are already in a graduate program at JHU, please send me your application materials (ie, transcript, essays, recommendations, etc.).  If it seems that we are a good fit, we'll schedule a time to meet up on campus.</p>
                     </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">Post-Doc Positions</div>
                    <div class="panel-body">
                        <p>We are currently looking for 3 post-docs: one for graph statistis and one for computational anatomy, and one for human MRI analysis.  In either case, there will be a significant programming requirement, in either R or Python.  In addition to your CV, please send (i) 2-3 letters of recommendation from prominent members of the field that know your work and your personality well, and (ii) the two first author publications that you are most proud of.</p>

                        <p>For the graph statistics postdoc, we will be (i) writing reference implementations in R for a number of graph statistical methods for which we do not currently have said implementations, (ii) developing new graph statistical theory and methods, and (iii) applying said methods to neurographs. Note that all reference implementations will be incorporated into <a href="https://github.com/openconnectome/FlashR/">FlashR</a>. We will write papers on graph statistics aimed at statistics and machine learning audiences, as well as some aimed at neuroscientists.</p>

                        <p>For the computational anatomy postdoc, we will be (i) writing code using the NeuroData infrastructure to extract neuroanatomical objects of interest (e.g., cells, synapses, regions), and (ii) developing and deploying methods for scalable statistical analyses for these objects, such as 3D point processes for 100 million points. Some of this work is explained in more detail <a href="https://github.com/openconnectome/neurodata.io/files/7260/postdoc.pdf">here</a>.</p>

                         <p>The human MRI postdoc will also be writing code using the NeuroData infrastructure, processing lots of open source brains, and making discoveries and writing papers using graph statistics, spatial statistics, and more.</p>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
