<template name="ingest"> {{ title 'Ingest' }}
    <div class="container-fluid">
        {{> ingest_form }}
    </div>
</template>



<template name="ingest_form">
    <div class="panel panel-default">
        <div class="panel-heading">Ingest Data Request</div>
        <div class="panel-body">
            <p>
                Use this form to upload data for OCP-ingest. You may optionally supply an email address if you wish to be notified when ingest is complete.
            </p>

            <div class="well">
                {{> _dataset_form }}
            </div>
            <div class="well">
                {{> _channel_form }}
            </div>
            <div class="well">
                {{> _project_form }}
            </div>
            <div class="well">
                {{> _metadata_form }}
            </div>

            <button type="button" class="btn btn-success" id="submit-ingest-request">Submit Ingest Request</button>
        </div>
    </div>
</template>



<template name="_dataset_form">
    <div class="row">
        <div class="col-xs-12"><b>Dataset</b></div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <input type="text" class="form-control js-validate-str js-validate-required" id="dataset--dataset_name" placeholder="Dataset Name">
        </div>
        <div class="col-xs-6"><b>Dataset Name.</b> If the same dataset already exists then a new one won't be created.</div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <input type="text" class="form-control js-validate-int-array js-validate-required" id="dataset--imagesize" placeholder="Image Size [X, Y, Z]">
        </div>
        <div class="col-xs-6"><b>Image Dimensions</b> in [X,Y,Z]</div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <input type="text" class="form-control js-validate-float-array js-validate-required" id="dataset--voxelres" placeholder="Voxel Resolution [X.XX, Y.YY, Z.ZZ]">
        </div>
        <div class="col-xs-6"><b>Voxel Resolution</b> in [X.XX, Y.YY, Z.ZZ]. Each value is a float, in nanometers.</div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <input type="text" class="form-control js-validate-float-array" id="dataset--offset" placeholder="(Optional) Image Offset [X, Y, Z]" value="[0, 0, 0]">
        </div>
        <div class="col-xs-6"><span class="optional-indicator">Optional.</span> <b>Image offset</b> in [X, Y, Z]. Each value is an integer. Defaults to [0, 0, 0].</div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <input type="text" class="form-control js-validate-int-array" id="dataset--timerange" placeholder="(Optional) Time Range [start, stop]">
        </div>
        <div class="col-xs-6"><span class="optional-indicator">Optional.</span> <b>Time range</b> in [start, stop]. Each value is an integer. E.g. [0, 0].</div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <input type="number" class="form-control js-validate-int" id="dataset--scalinglevels" placeholder="(Optional) Scaling Levels (integer)">
        </div>
        <div class="col-xs-6"><span class="optional-indicator">Optional.</span> <b>Scaling levels.</b> Required Scaling levels / Zoom-Out levels</div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <input type="number" class="form-control js-validate-int" id="dataset--scaling" placeholder="(Optional) Scaling Type">
        </div>
        <div class="col-xs-6"><span class="optional-indicator">Optional.</span> <b>Scaling type.</b> Options: { 0 = Z-Range, 1 = Isotropic }</div>
    </div>
</template>



<template name="_channel_form">
    <div class="row">
        <div class="col-xs-12"><b>Channel</b></div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <input type="text" placeholder="channel_name" id="channel--channel_name" class="form-control js-validate-str">
        </div>
        <div class="col-xs-6">
            <b>channel_name</b> Name of Channel. Has to be unique in the same project. User Defined.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <select class="form-control" id="channel--datatype">
                <option value="uint8">uint8</option>
                <option value="uint16">uint16</option>
                <option value="uint32">uint32</option>
                <option value="uint64">uint64</option>
                <option value="float32">float32</option>
            </select>
        </div>
        <div class="col-xs-6">
            <b>datatype</b> Channel Datatype
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <select class="form-control" id="channel--channel_type">
                <option value="image">image</option>
                <option value="annotation">annotation</option>
                <option value="probmap">probmap</option>
                <option value="timeseries">timeseries</option>
            </select>
        </div>
        <div class="col-xs-6">
            <b>channel_type</b> Type of channel - Image, Annotation. Timeseries, Probability-Maps
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <select id="channel--exceptions" class="form-control">
                <option value="0">False</option>
                <option value="1">True</option>
            </select>
        </div>
        <div class="col-xs-6">
            <b>exceptions</b> <span class="optional-indicator">Optional.</span> Exceptions. For annotation data only.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <input type="number" placeholder="resolution" id="channel--resolution" class="form-control js-validate-int">
        </div>
        <div class="col-xs-6">
            <b>resolution</b> <span class="optional-indicator">Optional.</span> Start Resolution
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <input type="text" placeholder="windowrange" id="channel--windowrange" class="form-control js-validate-int-array">
        </div>
        <div class="col-xs-6">
            <b>windowrange</b> <span class="optional-indicator">Optional.</span> Window clamp function for 16-bit channels with low max value of pixels. Required only for 16-bit data.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <select id="channel--readonly" class="form-control">
                <option value="0">False</option>
                <option value="1">True</option>
            </select>
        </div>
        <div class="col-xs-6">
            <b>readonly</b> <span class="optional-indicator">Optional.</span> Read-only Channel or Not. You can remotely post to channel if it is not readonly and overwrite data.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <input type="text" placeholder="data_url" id="channel--data_url" class="form-control js-validate-url">
        </div>
        <div class="col-xs-6">
            <b>data_url</b> This url points to the root directory of the files.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <input type="text" placeholder="file_name" id="channel--file_name" class="form-control">
        </div>
        <div class="col-xs-6">
            <b>file_name</b> This is the format of the filenames.
        </div>
    </div>
</template>



<template name="_project_form">
    <div class="row">
        <div class="col-xs-12"><b>Project</b></div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <input type="text" placeholder="project_name" id="project--project_name" class="form-control js-validate-str">
        </div>
        <div class="col-xs-6">
            <b>project_name</b> Name of Project. Has to be unique in OCP. User Defined.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <input type="text" placeholder="token_name" id="project--token_name" class="form-control js-validate-str">
        </div>
        <div class="col-xs-6">
            <b>token_name</b> Token Name. User Defined. Must be supplied if the project is private.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <select class="form-control" id="project--public">
                <option value="0">False</option>
                <option value="1">True</option>
            </select>
        </div>
        <div class="col-xs-6">
            <b>public</b> Make your project publicly visible.
        </div>
    </div>
</template>


<template name="_metadata_form">
    <div class="row">
        <div class="col-xs-12"><b>Metadata</b>
            <span class="optional-indicator">Optional.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-5">
            <textarea placeholder="{ 'any': 'json' }" id="metadata" class="form-control"></textarea>
        </div>
        <div class="col-xs-6">
            <b>Metadata</b> Any metadata you wish to include. Must be formatted as JSON.
        </div>
    </div>
</template>
