<template name="support">
    <div class="container">
        <h1>OCP Support</h1>
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Google Groups Support</div>
                    <div class="panel-body">
                        <p>
                            We actively maintain a <a href="https://groups.google.com/forum/#!forum/ocp-support">support forum</a> through Google Groups. We encourage you to ask questions there!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Analyze Your Data</div>
                    <div class="panel-body">
                        <p>
                            Our team regularly ingests new neuroscience data. Even if we do not currently support your data format, please <a href="mailto:contact@ocp.me">reach out</a> and let us know!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
