<template name="t404"> {{ title '404' }}
    <div class="container">
        <br><br>
        <div class="row text-center">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="panel">
                    <div class="panel-body">
                        <h1 class="extra-large">404</h1>
                        <h2>Brain Fart!</h2>
                        <p>Our server's head was in the clouds and we couldn't find that page.</p>
                        <p>Click here to <a href="{{ pathFor 'home'}}">go home</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
