<template name="visualize"> {{ title 'Visualize' }}
    <div class="jumbotron" id="visualize-hero">
        <div class="container">
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Visualize Data</div>
                <div class="panel-body">
                    <p>
                        Visualize terabytes of image and graph data using in-browser and downloadable software. The list at right is a non-exhaustive summary of some visualization tools we support.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">NeuroViz</h4>
                    <p class="list-group-item-text">NeuroViz is available here.</p>
                </a>
                <a href="http://openconnecto.me/catmaid/" class="list-group-item">
                    <h4 class="list-group-item-heading">CATMAID</h4>
                    <p class="list-group-item-text">We backend CATMAID to enable visualization and skeletonization of data in your web browser.</p>
                </a>
                <a href="http://openconnecto.me/catmaid/" class="list-group-item">
                    <h4 class="list-group-item-heading">Graph Explore</h4>
                    <p class="list-group-item-text">Graph Explore lets you visualize arbitrarily large graphs in the browser.</p>
                </a>
                <a href="http://fiji.sc/BigDataViewer" class="list-group-item">
                    <h4 class="list-group-item-heading">BigDataViewer</h4>
                    <p class="list-group-item-text">We backend BigDataViewer to enable scalable visualization in ImageJ.</p>
                </a>
            </div>
        </div>
    </div>
</template>
