<template name="footer">
    <div class="footer primary">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="small-0-8">&copy; 2015 OCP</div>
                </div>
                <div class="col-xs-6 text-right">
                    <a target="_blank" href="https://twitter.com/openconnectome">
                        <i class="glyphicon glyphicon-cloud"></i> twitter
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
