<template name="footer">
    <div class="footer primary">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="small-0-8">&copy; 2015 neurodata</div>
                </div>
                <div class="col-xs-6 text-right">
                    <a target="_blank" href="https://twitter.com/neuro_data">
                        <i class="glyphicon glyphicon-cloud"></i> twitter
                    </a>
                    <a target="_blank" href="https://groups.google.com/a/neurodata.io/forum/#!overview">
                         <i class="glyphicon glyphicon-question-sign"></i> support forums
                    </a>
                    <!-- <a target="_blank" href="https://groups.google.com/a/neurodata.io/d/forum/announce">
                         <i class="glyphicon glyphicon-comment"></i> newsletter
                    </a> -->
                    <a target="_blank" href="{{ pathFor 'about' }}">
                         <i class="glyphicon glyphicon-envelope"></i> contact
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
