<template name="footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <div class="small-0-8">&copy; 2016 neurodata</div>
                </div>
                <div class="col-xs-6 text-right">
                    <h5>
                        &copy; <a href="http://neurodata.io">neurodata.io 2016</a>
                        &nbsp;&nbsp;
                        <a target="_blank" href="https://twitter.com/neuro_data">
                            <i class="socicon-twitter"></i>
                        </a>
                        &nbsp;&nbsp;
                        <a target="_blank" href="https://www.facebook.com/neurodata.io">
                            <i class="socicon-facebook"></i>
                        </a>
                        &nbsp;&nbsp;
                        <a target="_blank" href="http://blog.neurodata.io">
                            <i class="glyphicon glyphicon-bullhorn"></i>
                        </a>
                        &nbsp;&nbsp;
                        <a target="_blank" href="https://groups.google.com/a/neurodata.io/forum/#!forum/support">
                             <i class="glyphicon glyphicon-question-sign"></i>
                        </a>
                        &nbsp;&nbsp;
                        <a target="_blank" href="http://www.customink.com/designs/neurodata/nxa0-00ab-4tvx/social?cm_cat=google&cm_ite=neurodata&cm_pla=share&cm_ven=social">
                             <i class="glyphicon glyphicon-usd"></i>
                        </a>

                    </h5>
                    <!-- <a target="_blank" href="https://groups.google.com/a/neurodata.io/d/forum/announce">
                         <i class="glyphicon glyphicon-comment"></i> newsletter
                    </a> -->
<!--                     <a target="_blank" href="{{ pathFor 'about' }}">
                         <i class="glyphicon glyphicon-envelope"></i> contact
                    </a>
 -->                </div>
            </div>
        </div>
    </div>
</template>
