<template name="clarity"> {{ title 'clarity' }}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-header">CLARITY</div>
                    <div class="panel-body">
                        <p>
                        The <i>Open CLARITY Project</i> is devoted to developing scalable tools for the analysis of whole cleared brain data.
                        These data are multi-spectral sub-micron scale anatomoical (i.e., static) images,
                        sometimes sometimes incuding entire mouse brains.
                        In addition to hosting the most exciting such datasets,
                        we have built a suite of tools to support registration & feature extraction from these brains.
                        All coming soon...
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <i>Coming soon.</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
