<template name="em"> {{ title 'EM' }}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-header">Electron Microscopy</div>
                    <div class="panel-body">
                        <p>
                        The <i>Open Connectome Project</i> is devoted to developing scalable tools for the analysis of serial electron microscopy data.
                        These data are nano-scale anatomoical (i.e., static) images.
                        From these data, we can amass a trove of information about the anatomy of brains,
                        and in particular, the synapse resolution connectivity of neurons (aka, connectomes) within small sub-volumes).
                        In addition to sharing the most exciting datasets in this modality ever collected,
                        we also have collected a number of potentially useful open source analytics tools.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <i>Coming soon.</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
