<template name="contribute_page">
    <div class="container">
        <div class="row">
            <div class="card" id="contribute">
                <div class="card-content">
                    <div class="section-header">CONTRIBUTE</div>
                    Share your brain-images, brain-graphs, or tools that we should support.
                </div>
            </div>
        </div>
    </div>
    <br>
    {{> _contribute_grid }}
</template>


<template name="_contribute_grid">
    <div class="card-content">
        <div class="square-container">
            <div class="square clarity" onclick="nav('image-share.hml')">
                <div class="square-mask valign-wrapper">
                    <div class="square-mask-content valign">
                        <div class="roboto white-text title">Images</div>
                        <div class="fading-content">Share your brain-images.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="square-container">
            <div class="square clarity" onclick="nav('graph-share.hml')">
                <div class="square-mask valign-wrapper">
                    <div class="square-mask-content valign">
                        <div class="roboto white-text title">Graphs</div>
                        <div class="fading-content">Share your brain-graphs.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="square-container">
            <div class="square clarity" onclick="nav('code-share.hml')">
                <div class="square-mask valign-wrapper">
                    <div class="square-mask-content valign">
                        <div class="roboto white-text title">Code</div>
                        <div class="fading-content">Contribute your code to the core, or add a plug-in to enable using your tools.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
