<template name="exchange_page">
    <div class="container">
        <div class="row">
            <div class="card" id="exchange">
                <div class="card-content">
                    <div class="section-header">Exchange</div>
                    Download or upload arbitrarily large neurodata.
                </div>
            </div>
        </div>
    </div>
    <br>
    {{> _exchange_grid}}
</template>

<template name="_exchange_grid">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Download</div>
                    <div class="panel-body">
                        <p>
                            To download a small sample of data (less than 2GB), it is possible to use our <a href="{{ pathFor 'download' }}">webform</a>. For larger requests, we recommend using <a href="{{ ocp_github 'CAJAL' }}">CAJAL</a> or <a href="{{ ocp_github 'OCPy' }}">ocpy</a>.
                        </p>
                        <p>
                            <a href="{{ pathFor 'download' }}" class="btn btn-success">Small-Request Webform &rightarrow;</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Upload &amp; Ingest</div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="{{ pathFor 'loni' }}" class="list-group-item">
                                <h4 class="list-group-item-heading">LONI Pipeline</h4>
                                <p class="list-group-item-text">We utilize LONI Pipeline extensively to daisy-chain sequences of functions.</p>
                            </a>
                            <a href="http://www.flashgraph.net/" class="list-group-item">
                                <h4 class="list-group-item-heading">FlashGraph</h4>
                                <p class="list-group-item-text">Our SSD based graph engine that enables processing billion vertex and trillion edge graphs.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
