<template name="exchange_page">
    <div class="container">
        <div class="row">
            <div class="card" id="exchange">
                <div class="card-content">
                    <div class="section-header">Exchange</div>
                    Download or upload arbitrarily large neurodata.
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        {{> _exchange_grid}}
    </div>
</template>

<template name="_exchange_grid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Download</div>
                <div class="panel-body">
                    <p>
                        To download a small sample of data (less than 2GB), it is possible to use our <a href="{{ pathFor 'download' }}">webform</a>. For larger requests, we recommend using <a href="{{ ocp_github 'CAJAL' }}">CAJAL</a> or <a href="{{ ocp_github 'OCPy' }}">ocpy</a>.
                    </p>
                    <p>
                        <a href="{{ pathFor 'download' }}" class="btn btn-success">Small-Request Webform</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Upload &amp; Ingest</div>
                <div class="panel-body">
                    <p>
                        We can ingest both public and private datasets into our database. To upload your data and use our analytics stack, submit an ingest request using <a href="{{ pathFor 'ingest' }}">our Ingest Request Form</a>.
                    </p>
                    <p class="text-right">
                        <a href="{{ pathFor 'ingest' }}" class="btn btn-primary">Ingest Request Webform</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="_exchange_card">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Exchange</div>
                <div class="panel-body">
                    <p>
                        We recommend using <a href="{{ ocp_github 'CAJAL' }}">CAJAL</a> (MATLAB) or <a href="{{ ocp_github 'ocpy' }}">ocpy</a> (Python) to upload, download, and manipulate neurodata; but the below web-forms maybe be easier for simple tasks.
                    </p>
                    <p>
                        <a href="{{ pathFor 'download' }}" class="btn btn-block btn-success">Data-Download Webform</a>
                        <a href="{{ pathFor 'ingest' }}" class="btn btn-block btn-primary">Ingest Request Webform</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
