<template name="modalities_page">
    <div class="row">
        <div class="card" id="browse">
            <div class="card-content">
                <div class="section-header">Browse</div>
                <a href="{{ pathFor 'projects' }}">Browse</a> any number of publicly available neuroimage and neurograph datasets.
            </div>
        </div>
    </div>
    <br>
    {{> _modalities_grid}}
</template>

<template name="_modalities_grid">
    <div id="modalities" class="row bump-top">
        <div class="card-content">
            <div class="square-container">
                <a href="{{pathFor 'em'}}">
                    <div class="square em">
                        <div class="square-mask valign-wrapper">
                            <div class="square-mask-content valign">
                                <div class="roboto white-text title">Open Connectome Project</div>
                                <div class="fading-content">Nanometer resolution electron microscopy monochromatic image volumes from many species &amp; regions.  <!-- from various brain regions and species and experimental preparations. -->
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{pathFor 'at' }}">
                    <div class="square micro">
                        <div class="square-mask valign-wrapper">
                            <div class="square-mask-content valign">
                                <div class="roboto white-text title">Open Synaptome Project</div>
                                <div class="fading-content">Sub-micron resolution array tomography  multispectral image volumes from mammalian cortex.</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ pathFor 'clarity' }}">
                    <div class="square clarity">
                        <div class="square-mask valign-wrapper">
                            <div class="square-mask-content valign">
                                <div class="roboto white-text title">Open CLARITY Project</div>
                                <div class="fading-content">Micron resolution multispectral whole cleared mouse brains and human volumes.</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="square graphs">
                        <div class="square-mask valign-wrapper">
                            <div class="square-mask-content valign">
                                <div class="roboto white-text title">Open Optophysiology Project</div>
                                <div class="fading-content">Micron resolution time-varying and multispectral images of calcium activity in local circuits. Coming soon...</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ pathFor 'support' }}">
                    <div class="square support">
                        <div class="square-mask valign-wrapper">
                            <div class="square-mask-content valign">
                                <div class="roboto white-text title">Open X-Brain Project</div>
                                <div class="fading-content">Sub-micron resolution image volumes towards whole brain histology. Coming soon...</div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{ pathFor 'mri' }}">
                    <div class="square viz">
                        <div class="square-mask valign-wrapper">
                            <div class="square-mask-content valign">
                                <div class="roboto white-text title">Open MRI Project</div>
                                <div class="fading-content">Multimodal magnetic resonance imaging of human brains, from a variety of centers around the world.</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>
