<template name="modalities_page">
    <div class="row">
        <div class="card" id="access">
            <div class="card-content">
                <div class="section-header">ACCESS</div>
                Access any number of publicly available brain-image and brain-graph datasets.
            </div>
        </div>
    </div>
    <br>
    {{> _modalities_grid}}
</template>


<template name="_modalities_grid">
    <div id="modalities" class="row bump-top">
        <div class="card-content">
            <div class="square-container">
                <div class="square em" onclick="nav('http://ocp.me/graph-services/c4/')">
                    <div class="square-mask valign-wrapper">
                        <div class="square-mask-content valign">
                            <div class="roboto white-text title">Electron Microscopy</div>
                            <div class="fading-content">Nanometer resolution monochromatic image volumes from many species &amp; regions.  <!-- from various brain regions and species and experimental preparations. -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="square-container">
                <div class="square micro" onclick="nav('http://ocp.me/weiler13')">
                    <div class="square-mask valign-wrapper">
                        <div class="square-mask-content valign">
                            <div class="roboto white-text title">Array Tomography</div>
                            <div class="fading-content">Nearly nanometer resolution anisotropic multispectral image volumes from mammalian cortex.</div>
                        </div>
                    </div>
                </div>
                <div class="square clarity" onclick="nav('http://ocp.me/clarity/')">
                    <div class="square-mask valign-wrapper">
                        <div class="square-mask-content valign">
                            <div class="roboto white-text title">CLARITY</div>
                            <div class="fading-content">Coming soon....</div>
                        </div>
                    </div>
                </div>
                <div class="square graphs" onclick="nav('http://thunder-project.org/thunder/docs/generated/thunder.ThunderContext.html#thunder.ThunderContext.loadImagesOCP')">
                    <div class="square-mask valign-wrapper">
                        <div class="square-mask-content valign">
                            <div class="roboto white-text title">Calcium Optophysiology</div>
                            <div class="fading-content">Coming soon...</div>
                        </div>
                    </div>
                </div>
                <a href="{{ pathFor 'mri' }}">
                    <div class="square viz">
                        <div class="square-mask valign-wrapper">
                            <div class="square-mask-content valign">
                                <div class="roboto white-text title">Diffusion MRI</div>
                                <div class="fading-content">Multimodal magnetic resonance imaging of human brains, from a variety of centers around the world.</div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="square support">
                    <div class="square-mask valign-wrapper">
                        <div class="square-mask-content valign">
                            <div class="roboto white-text title">Your Data Here</div>
                            <div class="fading-content">If you have big neuro data of <i>any</i> kind, and you want us to support it, <a href="mailto:contact@ocp.me" class="fading-content">let us know</a>. </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
