<template name="visualize_page">
    <div class="container" id="viz">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">Visualize</h1>
                    </div>
                    <div class="panel-body">
                        <a href="http://openconnecto.me/catmaid/" class="list-group-item">
                            <h4 class="list-group-item-header">neuroimages</h4>
                            <div class="list-group-item-text">CATMAID fork by neurodata</div>
                        </a>
                        <a href="http://ge.neurodata.io" class="list-group-item">
                            <h4 class="list-group-item-header">neurographs</h4>
                            <div class="list-group-item-text">Graph Explore</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">Upload</h1>
                    </div>
                    <div class="panel-body">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-header">neuroimages</h4>
                            <div class="list-group-item-text">Coming soon...</div>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-header">neurographs</h4>
                            <div class="list-group-item-text">Coming soon...</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h1 class="panel-title">Download</h1>
                    </div>
                    <div class="panel-body">
                        <a href="http://ocp.me/exchange/download" class="list-group-item">
                            <h4 class="list-group-item-header">neuroimages</h4>
                            <div class="list-group-item-text">Download data via web-form</div>
                        </a>
                        <a href="http://openconnecto.me/graph-services/download/" class="list-group-item">
                            <h4 class="list-group-item-header">neurographs</h4>
                            <div class="list-group-item-text">Graph Download Service</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>





<template name="__visualize_page">
    <div class="container" id="viz">
        <div class="row">
            <div class="col-sm-8">
                <div class="panel">
                    <div class="panel-heading">Visualize</div>
                    <div class="panel-body" style="padding-bottom: 0px;">
                        <p>
                            Visualize image data in the browser or in a devoted app.
                        </p>
                        {{> _visualize_grid }}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                {{> _exchange_card }}
            </div>
        </div>
    </div>
</template>


<template name="_visualize_grid">
    <div class="row bump-top">
        <div class="card-content">
            <div class="square-container">
                <a href="#">
                    <div class="square micro">
                        <div class="square-mask valign-wrapper">
                            <div class="square-mask-content valign">
                                <div class="roboto white-text title">ocpviz</div>
                                <div class="fading-content"><i>Coming soon...</i> ocpviz is our lightweight leaflet app to visualize multispectral data and volumetric annotations.</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="square-container">
                <a href="http://openconnecto.me/catmaid/">
                    <div class="square process">
                        <div class="square-mask valign-wrapper">
                            <div class="square-mask-content valign">
                                <div class="roboto white-text title">CATMAID</div>
                                <div class="fading-content">We backend CATMAID to enable visualization and skeletonization of data in your Web-browser.</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="square-container">
                <a href="http://fiji.sc/BigDataViewer">
                    <div class="square graphs">
                        <div class="square-mask valign-wrapper">
                            <div class="square-mask-content valign">
                                <div class="roboto white-text title">BigDataViewer</div>
                                <div class="fading-content">We backend BigDataViewer to enable scalable visualization in ImageJ.</div><!-- , such as <a href="http://www.itksnap.org/pmwiki/pmwiki.php">itk-SNAP</a> and MRI Studio. -->
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row bump-top">
        <div class="card-content">
            <div class="square-container">
                <a href="http://openconnecto.me/graph-services/download/">
                    <div class="square contr">
                        <div class="square-mask valign-wrapper">
                            <div class="square-mask-content valign">
                                <div class="title white-text">Graph Explore</div>
                                <p class="list-group-item-text">Graph Explore lets you visualize arbitrarily large graphs in the browser.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="square-container">
                <a href="http://gephi.github.io/">
                    <div class="square contr">
                        <div class="square-mask valign-wrapper">
                            <div class="square-mask-content valign">
                                <div class="title white-text">Gephi</div>
                                <p class="list-group-item-text">Gephi is an interactive visualization and exploration platform for all kinds of networks and complex systems, dynamic and hierarchical graphs.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>
