<template name="visualize_page">
    <div class="container" id="viz">
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default" style="padding-bottom: 0px;">
                    <div class="panel-heading">Visualize</div>
                    <div class="panel-body">
                        <p>
                            Visualize image data in the browser or in a devoted app. Visit <a href="{{ pathFor 'visualize' }}">our visualization page</a> for more information.
                        </p>
                        {{> _visualize_grid }}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                {{> _exchange_card }}
            </div>
        </div>
    </div>
</template>


<template name="_visualize_grid">
    <div class="row bump-top">
        <div class="card-content">
            <div class="square-container">
                <a href="#">
                <div class="square micro">
                    <div class="square-mask valign-wrapper">
                        <div class="square-mask-content valign">
                            <div class="roboto white-text title">ocpviz</div>
                            <div class="fading-content"><i>Coming soon...</i> ocpviz is our lightweight leaflet app to visualize multispectral data and volumetric annotations.</div>
                        </div>
                    </div>
                </div>
                </a>
            </div>

            <div class="square-container">
                <a href="http://openconnecto.me/catmaid/">
                    <div class="square process">
                        <div class="square-mask valign-wrapper">
                            <div class="square-mask-content valign">
                                <div class="roboto white-text title">CATMAID</div>
                                <div class="fading-content">We backend CATMAID to enable visualization and skeletonization of data in your Web-browser.</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="square-container">
                <a href="http://fiji.sc/BigDataViewer">
                    <div class="square graphs">
                        <div class="square-mask valign-wrapper">
                            <div class="square-mask-content valign">
                                <div class="roboto white-text title">BigDataViewer</div>
                                <div class="fading-content">We backend BigDataViewer to enable scalable visualization in ImageJ.</div><!-- , such as <a href="http://www.itksnap.org/pmwiki/pmwiki.php">itk-SNAP</a> and MRI Studio. -->
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>
