<template name="home"> {{ title 'openconnectome' }}
    <div class="jumbotron" id="visualize-hero">
        <div class="container">
            <div class="text-center">
                <h1 class="white-text">open connectome project</h1>
                <div class="offwhite-text">enabling data-driven neuroscience</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <br><br>
        </div>
    </div>
    <br>

    {{> modalities_page }}
    <br>
    {{> visualize_page }}
    <br>
    {{> tools_page }}
    <br>
    <!-- <div class="jumbotron" id="homepage-info-hero">
        <div class="container">
            <div class="text-right">
                <a href="{{ pathFor 'info' }}" class="btn btn-lg btn-success">Get More Information &raquo;</a>
            </div>
        </div>
    </div> -->
    <br>
</template>
