<template name="home"> {{ title 'openconnectome' }}
    <div class="container">
        <div class="row">
            <br><br>
        </div>
        <div class="row">
            <div class="card" id="modalities">
                <div class="card-content">
                    <div class="section-header">open connectome project</div>
                    <p>Enabling big data neuroscience.
                        (this actually belongs on top of video)
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>

    {{> modalities_page }}
    <br>
    {{> visualize_page }}
    <br>
    {{> tools_page }}
    <br>
    {{> exchange_page }}
    <br>
    {{> info_page }}
    <br>

    <script type="text/javascript">

    $('a[href^=#]').click(function(e) {
        e.preventDefault();
        $('html, body').animate({scrollTop: $($(e.target).attr('href')).position().top - 100}, 'slow');
    });
    </script>
</template>
