<template name="_home_ext_navbar">
    <li><a href="{{ pathFor 'home' }}#browse">Browse</a></li>
    <li><a href="{{ pathFor 'home' }}#viz">Visualize</a></li>
    <li><a href="{{ pathFor 'home' }}#tools">Tools</a></li>
    <li><a href="{{ pathFor 'home' }}#viz">Exchange</a></li>
    <li><a href="{{ pathFor 'info' }}">Info</a></li>

        <script type="text/javascript">

        $(document).on('click', 'a[href^=#]', function(e) {
            e.preventDefault();
            $('html, body').animate({scrollTop: $($(e.target).attr('href')).position().top - 100}, 'slow');
        });
        </script>
</template>
