<template name="home"> {{ title 'neurodata' }}

    <div class="container-fluid" style="position: fixed; top: 5em; width:100%; z-index:999; opacity:0.999999;">
        <div class="alert alert-success">
            <b>neurodata is hiring postdocs.</b> <a href="{{ pathFor 'hiring' }}">Learn more &rarr;</a>
        </div>
    </div>

    <div class="jumbotron" id="visualize-hero">
        <div class="container">
            <div class="text-center">
                <h1 class="white-text">neurodata</h1>
                <div class="offwhite-text">enabling data-driven neuroscience at scale</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <br><br>
        </div>
    </div>
    <br>

    {{> modalities_page }}
    <br>
    {{> tools_page }}
    <br>
    <!-- <div class="jumbotron" id="homepage-info-hero">
        <div class="container">
            <div class="text-right">
                <a href="{{ pathFor 'about' }}" class="btn btn-lg btn-success">Get More Information &raquo;</a>
            </div>
        </div>
    </div> -->
    <br>
</template>
