<template name="_home_navbar">
    <li><a href="#browse">Browse</a></li>
    <li><a href="#viz">Visualize</a></li>
    <li><a href="#tools">Tools</a></li>
    <li><a href="#viz">Exchange</a></li>
    <li><a href="{{ pathFor 'about' }}">About</a></li>

        <script type="text/javascript">

        $(document).on('click', 'a[href^=#]', function(e) {
            e.preventDefault();
            $('html, body').animate({scrollTop: $($(e.target).attr('href')).position().top - 100}, 'slow');
        });
        </script>
</template>
