<template name="old_bloss16"> {{ title 'Mouse Hippocampus AT' }}
    <div class="jumbotron" id="project-jumbotron" style="background:black url(/images/old/kasthuri11.png) no-repeat center center;background-size: cover;">
        <div class="container">
            <h1 class="white-text">Mouse Hippocampus Array Tomography</h1>
        </div>
    </div>
    <div class="container">
        <b><a href="{{ pathFor 'projects' }}">&leftarrow; projects index</a></b>
        <div class="row">
            <div class="col-xs-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="list-group-item-heading">Mouse Hippocampus Array Tomography</h4>
                        <p>
                          The following is an serial section array tomography stack from are CA1 of the mouse hippocampus of a VGAT-Cre mouse. The goal of the project was to examine how inhibitory synapses are organized onto the branches of pyramidal cells at the domain, branch, and sub-branch level.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="list-group">
                  <a href="http://viz.neurodata.io/dataview/bloss16" class="list-group-item">
                      <h4 class="list-group-item-heading">Visualize</h4>
                      <p class="list-group-item-text">View Image Stacks in NeuroDataViz</p>
                  </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Stats</h4>
                        <p class="list-group-item-text">Coming Soon</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Data</h4>
                        <p class="list-group-item-text">Coming Soon</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Manuscript</h4>
                        <p class="list-group-item-text">Coming Soon</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Information &amp; Help
                    </div>
                    <div class="panel-body">
                        <p>For more information, or if this is your project and some data is missing, reach out to us at {{{ contact_email_link }}}.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
