<template name="old_bock11"> {{ title 'Mouse V1' }}
    <div class="jumbotron" id="project-jumbotron" style="background:black url(/images/old/bock11.png) no-repeat center center;background-size: cover;">
        <div class="container">
            <h1 class="white-text">Mouse V1</h1>
        </div>
    </div>
    <div class="container">
        <b><a href="{{ pathFor 'projects' }}">&leftarrow; projects index</a></b>
        <div class="row">
            <div class="col-xs-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="list-group-item-heading">Mouse V1</h4>
                        <p>
                            Layer 2/3 - Davi Bock, Ph.D. and Wei-Chung Allen Lee, Ph.D., in the laboratory of Clay Reid, M.D., Ph.D. acquired a beautiful volume of mouse primary visual cortical data, spanning layers 1, 2/3, and upper layer 4.  In addition to the electron microscope (EM) data, they used two-photon microscopy to determine the functional properties of about 14 of the cells in the same volume. ​Images were collected at approximately 4x4x45 cubic microns with a total volume of approximately 450x350x50 cubic microns.​​​​​
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="list-group">
                    <a href="http://openconnecto.me/catmaid/?pid=4&zp=40635&yp=239236&xp=316396&tool=navigator&sid0=4&s0=1" class="list-group-item">
                        <h4 class="list-group-item-heading">Images</h4>
                        <p class="list-group-item-text">CATMAID Interactive Rendering</p>
                    </a>
                    <a href="http://openconnecto.me/data/public/graphs/mouse/mouse_visual.cortex_1.graphml" class="list-group-item">
                        <h4 class="list-group-item-heading">Data</h4>
                        <p class="list-group-item-text">Data are available for download here.</p>
                    </a>
                    <a href="http://reid.med.harvard.edu/pdf/Bock-Lee-etal-Reid-2011-Nature.pdf" class="list-group-item">
                        <h4 class="list-group-item-heading">Manuscript</h4>
                        <p class="list-group-item-text">Nature Article, 2011</p>
                    </a>
                    <a href="https://www.youtube.com/watch?v=dS_ONoUrptg" class="list-group-item">
                        <h4 class="list-group-item-heading">Video</h4>
                        <p class="list-group-item-text">YouTube Link</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Information &amp; Help
                    </div>
                    <div class="panel-body">
                        <p>This page was migrated at Sep 17 2015. For more information, or if this is your project and some data is missing, reach out to us at {{{ contact_email_link }}}.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
