<template name="old_wanner16"> {{ title '​Serial block face scanning electron microscopy image stack of larval zebrafish olfactory bulb' }}
    <!-- <div class="jumbotron" id="project-jumbotron" style="background:black url(/images/old/bhatla15.png) no-repeat center center;background-size: cover;"> -->
    <div class="jumbotron" id="project-jumbotron" style="background:black no-repeat center center;background-size: cover;">
        <div class="container">
            <h1 class="white-text">​Serial block face scanning electron microscopy image stack of larval zebrafish olfactory bulb</h1>
        </div>
    </div>
    <div class="container">
        <b><a href="{{ pathFor 'projects' }}">&leftarrow; projects index</a></b>
        <div class="row">
            <div class="col-xs-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="list-group-item-heading">​SBEM Larval Zebrafish Olfactory Bulb</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor bibendum elit bibendum semper. Integer vitae placerat odio, sed tempus odio. Suspendisse et quam aliquam, iaculis dui quis, ultricies erat. Curabitur leo eros, volutpat sit amet efficitur at, varius eget ex. Maecenas blandit consectetur sapien vitae placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque euismod suscipit ultricies.
                        </p>
                        <p>
                            Nullam a risus commodo, auctor elit ut, viverra sem. Cras cursus risus felis, a tempus metus porttitor sed. Quisque eget mauris nec purus faucibus convallis eget at urna. Quisque aliquet scelerisque enim. Mauris consectetur non nunc eget fringilla. Maecenas iaculis ex neque, ut interdum orci eleifend quis. Praesent cursus justo ac dapibus ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ut nulla eu nulla gravida rutrum at at libero. Cras venenatis vulputate accumsan. Morbi sit amet nisi augue. Pellentesque varius est non ultricies porttitor. Sed magna risus, pulvinar ut fringilla vel, auctor eget magna. In quis elit fermentum, suscipit velit eu, auctor velit. Fusce cursus ornare iaculis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="list-group">
                  <a href="http://viz.neurodata.io/WannerAA201605/" class="list-group-item">
                      <h4 class="list-group-item-heading">Visualize in NeuroDataViz</h4>
                  </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Manuscript <em>(coming soon)</em></h4>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Information &amp; Help
                    </div>
                    <div class="panel-body">
                        <p>For more information reach out to us at {{{ contact_email_link }}}.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
