<template name="calcium"> {{ title 'calcium' }}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-header">Calcium</div>
                    <div class="panel-body">
                        <p>
                            Optophysiology (dynamic optical imaging, often of calcium or voltage signals at sub-microscale resolution), 
                            can yield information about the function of local circuits including hundreds or thousands of neurons.  
                            We have ingested a large number of such datasets which will be available for visualization and download soon.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <p>We currently provide code for estimating spike trains from calcium imaging traces using <a href="https://github.com/jovo/oopsi">oopsi</a>.
                        Stay tuned for more.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
