<template name="funds">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Funding</div>
                    <div class="panel-body">
                        <div class="text-left">
                            <!-- <p class="small-0-8">
                            Synaptomes of Mouse and Man, NIH
                            NIBIB 1RO1EB016411-01 (CRCNS),<br>
                            DARPA N66001-14-1-4028 (GRAPHS),<br>
                            NSF ACI-1261715,<br>
                            NSF OCI-1040114,<br>
                            NIDA 1R01DA036400-01,<br>
                            JHU Applied Research Laboratory IRAD, and<br>
                            JHU Whiting School of Engineering Dean's Award.
                        </p> -->
                        <!-- Image credits from top left going clockwise:
                        Bobby Kasthuri,
                        <a href="http://smithlab.stanford.edu/Smithlab/Array_Tomography.html">http://smithlab.stanford.edu/Smithlab/Array_Tomography.html/</a>,
                        <a href="http://clarityresourcecenter.org/">http://clarityresourcecenter.org/</a>,
                        <a href="http://humanconnectome.org/">http://humanconnectome.org/</a>,
                        Daniel Margulies and Joachim Böttger, -->
                        <!-- <a href="http://m2g.io">http://m2g.io</a>.</div> -->
                        <!-- </div> -->
                        5/15 &mdash; 5/18 {{sep}} From Rags to Riches: Utilizing Richly Attributed Graphs {{sep}} N66001-15-C-4041 {{sep}} DARPA (SIMPLEX) {{sep}} Vogelstein (PI)
                        <br>

                        <h4>light microscopy / cell detection</h4>

                        3/13 &mdash; 1/16 {{sep}} Computational infrastructure for massive neuroscience image stacks {{sep}} NIH/NSF (BIGDATA) {{sep}} 1R01DA036400 {{sep}} Mitra (PI)
                        <br>

                        <h4>MRI</h4>

                        7-15 &mdash; 6/17 {{sep}} Quantifying Individual Differences in Network Dynamics for Abstract Information Learning {{sep}} Science of Learning Institute {{sep}} Courtney (PI)
                        <br>

                        2/13 &mdash; 9/15 {{sep}} Endeavor Scientists Training Fellowship {{sep}} Child Mind Institute {{sep}} Vogelstein (PI)
                        <br>

                        <h4>calcium imaging</h4>

                        7-15 &mdash; 6/17 {{sep}} Learning Causes Changes in the State-Space of Local Cortical Networks {{sep}} Science of Learning Institute {{sep}} Nielsen (PI)
                        <br>

                        <h4>array tomography</h4>

                        9/14 &mdash; 6/19 {{sep}} Synaptomes of Mouse and Man {{sep}} NIH (TRA) {{sep}} R01 OD19123 {{sep}} Smith (PI)
                        <br>

                        <h4>graphs</h4>

                        5/14 &mdash; 2/16 {{sep}} Scalable Brain Graph Analyses Using Big-Memory, High-IOPS Compute Architectures {{sep}} DARPA (GRAPHS) {{sep}} DARPA-BAA-13-15 {{sep}} Burns (PI)
                        <br>

                        10/12 &mdash; 3/17 {{sep}} Fusion and Inference from Multiple and Massive Infrastructure for Massive Neuroscience {{sep}} DARPA (XDATA) {{sep}} FA8750-12-2-0303 {{sep}} Priebe (PI)
                        <br>

                        NSF ACI-1261715,<br>
                        NSF OCI-1040114,<br>

                        <h4>past funding</h4>

                        JHU Applied Research Laboratory IRAD,<br>
                        JHU Whiting School of Engineering Dean's Award.<br>

                        9/12 &mdash; 8/15 {{sep}} Data Sharing: The EM Open Connectome Project {{sep}} NIH/NIBIB (CRCNS) {{sep}} 1R01EB016411 {{sep}} Burns (PI)
                        <br>

                        1/14 &mdash; 12/14 {{sep}} Data Readiness Level {{sep}} Laboratory for Analytic Sciences {{sep}} Harer (PI)
                        <br>

                        1/12 &mdash; 10/13 {{sep}} Graph-Based Scalable Analytics for Big Data {{sep}} DARPA (XDATA) {{sep}} FA8750-12-C-0239 {{sep}} Andrews (PI)
                        <br>

                        12/09 &mdash; 1/13 {{sep}} National Center for Applied Neuroscience Project {{sep}} NSF {{sep}} RJ Vogelstein (PI)
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
