<template name="funds">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Funding</div>
                    <div class="panel-body">
                        <div class="text-right">
                            <p class="small-0-8">
                                NIBIB 1RO1EB016411-01 (CRCNS),<br>
                                DARPA N66001-14-1-4028 (GRAPHS),<br>
                                NSF ACI-1261715,<br>
                                NSF OCI-1040114,<br>
                                NIDA 1R01DA036400-01,<br>
                                JHU Applied Research Laboratory IRAD, and<br>
                                JHU Whiting School of Engineering Dean's Award.
                            </p>
                            <!-- Image credits from top left going clockwise:
                            Bobby Kasthuri,
                            <a href="http://smithlab.stanford.edu/Smithlab/Array_Tomography.html">http://smithlab.stanford.edu/Smithlab/Array_Tomography.html/</a>,
                            <a href="http://clarityresourcecenter.org/">http://clarityresourcecenter.org/</a>,
                            <a href="http://humanconnectome.org/">http://humanconnectome.org/</a>,
                            Daniel Margulies and Joachim Böttger, -->
                            <!-- <a href="http://m2g.io">http://m2g.io</a>.</div> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
