<template name="links">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">References</div>
                    <div class="panel-body">
                        <a href="https://www.mendeley.com/groups/1680241/neurodata-publications/papers/">Neurodata Mendeley Group</a>
                        <hr>
                        {{# each references }}
                            <div class="link-section">
                                <a class="discreet-link" href="{{ link }}" target="_blank">{{ text }}</a>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Press</div>
                    <div class="panel-body">
                        {{# each presses }}
                            <div class="link-section">
                                <a class="discreet-link" href="{{ link }}" target="_blank">{{ text }}</a>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
