<template name="mission">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Our Mission</div>
                    <div class="panel-body">
                        <p>
                        Our goal is to work together with neuroexperimentalists to discover fundamental principles governing the relationship between mind and brain,
                        via building and deploying open source data-driven tools that run at scale on open access data. 
                        This includes analytics, databases, cloud computing, and Web-services applied to both big neuroimages and big neurographs.  
                        </p>

                        <p>
                        We believe in the upward spiral of science, that is, that the scientific community is in a continual process of learning from past, building models on previous experiments, which lead to new experiments, etc.
                        Therefore, we practice reproducible research and open science.
                        Our interests span the spatiotemporal scales of analysis, ranging from nanoscale (serial electron microscopy) to microscale (e.g., array tomography, CLARITY, and calcium imaging) to macroscale (e.g., SPECT and multimodal magnetic resonance imaging). 
                        We aim to please, so please provide us with feedback!
                        </p>
                    </div>
                    <!-- <div class="panel-footer text-right">
                        <a href="{{ pathFor 'team' }}">Meet the Team</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</template>
