<template name="mission">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Our Mission</div>
                    <div class="panel-body">
                        <p>The primary motivating force behind NeuroData is to make state-of-the-art neuroscience accessible to anybody with internet access, regardless of knowledge, training, or background. Open science means open to view, play, analyze, contribute… anything.</p>

                        <p>We are interested in all scales of neuroscience, from the nano (using electron microscopy) to the macro (using magnetic resonance imaging). We (and others) conjecture that neuroimages and neurographs contain troves of information about who we are and how we tick. The size and multi-center nature of these data sets makes hosting services for these data beyond the scope of many individual labs. Therefore, NeuroData facilitates the analysis of neurodata by providing a unified front for such research. Specifically, we focus electron microscopy (Open Connectome Project), array tomography (Open Synaptome Project), CLARITY, calcium physiology, and multimodal magnetic resonance imaging data. We aim to please, so please provide us with feedback!</p>
                    </div>
                    <!-- <div class="panel-footer text-right">
                        <a href="{{ pathFor 'team' }}">Meet the Team</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</template>
