<template name="mission">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Our Mission</div>
                    <div class="panel-body">
                        <p>
                        Our goal is to work together with neuroexperimentalists to discover data-driven fundamental principles governing the relationship between mind and brain. 
                        We contribute via providing open source Web-services for data-intensive analysis of big neuroimages and neurographs.  
                        In other words, we build reference scalable pipelines to answer a multitude of questions across myriad massive datasets.
                        </p>

                        <p>
                        We believe in the upward spiral of science, that is, that the scientific community is in a continual process of learning from past, building models on previous experiments, which lead to new experiments, etc.
                        Thus, all of our code is open source, and perhaps more importantly, we provide either Web-services and/or cloud-deployable analytics stacks, such that any quantitative result we report can be reproduced via running a script in the same environment that we run internally.  
                        All of our publications, therefore, make all raw data and data-derivatives publicly accessible via Web-services.
                        Our interests span the spatiotemporal scales of analysis, ranging from nanoscale (serial electron microscopy) to microscale (e.g., array tomography, CLARITY, and calcium imaging) to macroscale (e.g., SPECT and multimodal magnetic resonance imaging). 
                        We aim to please, so please provide us with feedback!
                        </p>
                    </div>
                    <!-- <div class="panel-footer text-right">
                        <a href="{{ pathFor 'team' }}">Meet the Team</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</template>
