<template name="team"> {{ title 'Team' }}
    <div class="jumbotron" id="homepage-info-hero">
        <div class="container">
            <div class="text-center">
                <h1 class="white-text">the neurodata team</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="text-center">
                    <img src="/images/team/jovo.png" height="150" width="150" class="img-circle team-photo">
                    <h4>Joshua Vogelstein</h4>
                    <p></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="text-center">
                    <img src="/images/team/randal.jpg" height="150" width="150" class="img-circle team-photo">
                    <h4>Randal Burns</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="text-center">
                    <img src="/images/team/will.jpg" height="150" width="150" class="img-circle team-photo">
                    <h4>Will Gray Roncal</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="text-center">
                    <img src="/images/team/greg.jpg" height="150" width="150" class="img-circle team-photo">
                    <h4>Greg Kiar</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="text-center">
                    <img src="/images/team/jordan.jpg" height="150" width="150" class="img-circle team-photo">
                    <h4>Jordan Matelsky</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="text-center">
                    <img src="/images/team/jeff.jpg" height="150" width="150" class="img-circle team-photo">
                    <h4>jeff</h4>
                    <p>do you think my color red is the same as your color red that's pretty crazy just think about it</p>
                </div>
            </div>
        </div>
    </div>
</template>
