<template name="team"> {{ title 'Team' }}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <div class="text-center">
                    <img src="team/jovo.png" height="150" width="150" class="img-circle team-photo">
                    <h4>jovo</h4>
                    <p>being a neuroscience surprise</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="text-center">
                    <img src="team/will.jpg" height="150" width="150" class="img-circle team-photo">
                    <h4>will</h4>
                    <p>will 'the crushinator' gray roncal</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="text-center">
                    <img src="team/jordan.jpg" height="150" width="150" class="img-circle team-photo">
                    <h4>jordan</h4>
                    <p>help</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="text-center">
                    <img src="team/jeff.jpg" height="150" width="150" class="img-circle team-photo">
                    <h4>jeff</h4>
                    <p>do you think my color red is the same as your color red that's pretty crazy just think about it</p>
                </div>
            </div>
        </div>
    </div>
</template>
