<template name="at">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-header">Array Tomography</div>
                    <div class="panel-body">
                        <p>At right are links to current public Array Tomography projects.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <a href="http://openconnecto.me/#!array-tomography/c1z9t" class="btn-btn-primary">Array Tomography </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
