<template name="at"> {{ title 'AT' }}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-header">Array Tomography</div>
                    <div class="panel-body">
                        <p>
                        The <i>Open Synaptome Project</i> is devoted to developing scalable tools for the analysis of array tomorgraphy data.
                        These data are multi-spectral sub-micron scale anatomoical (i.e., static) images,
                        sometimes collected conjugate to nanoscale electron microscopy data.
                        We are motivated to explore and understand the diversity of synapses,
                        primarily-but not limited to-in the cortex of mouse and man.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <a href="http://openconnecto.me/#!array-tomography/c1z9t" class="btn-btn-primary">Array Tomography </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
